In [15]:
import pandas as pd

In [28]:
#(1)
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)

print(type(belize_df))

<class 'pandas.core.frame.DataFrame'>

In [42]:
grouped_nbhd_df = belize_df.groupby('neighbourhood')

In [43]:
grouped_nbhd_df["price"].mean()

neighbourhood
Belize Islands           399.442824
Belize Mainland          288.273063
Cayo                     205.847525
Corozal                  156.553846
Orange Walk              122.035714
Stann Creek Islands     1136.166667
Stann Creek Mainland     456.994690
Toledo Mainland          222.978723
Name: price, dtype: float64

In [44]:
grouped_nbhd_df["number_of_reviews"].sum()

neighbourhood
Belize Islands          22995
Belize Mainland          4105
Cayo                     7356
Corozal                   492
Orange Walk               415
Stann Creek Islands        69
Stann Creek Mainland     4786
Toledo Mainland           194
Name: number_of_reviews, dtype: int64

In [46]:
grouped_nbhd_df["availability_365"].max()

neighbourhood
Belize Islands          365
Belize Mainland         365
Cayo                    365
Corozal                 365
Orange Walk             365
Stann Creek Islands     365
Stann Creek Mainland    365
Toledo Mainland         365
Name: availability_365, dtype: int64

In [47]:
#(2)
og_list = [2,4,6,8,10,12,14]
sq_list = [number **2 for number in og_list]
print(sq_list)

[4, 16, 36, 64, 100, 144, 196]

In [48]:
two_thirds_list = [number *(2/3) for number in og_list]
print(two_thirds_list)

[1.3333333333333333, 2.6666666666666665, 4.0, 5.333333333333333, 6.666666666666666, 8.0, 9.333333333333332]

In [53]:
#(3)
dict = {"Apples":1500, "Cranberries":2000, "Pears":2500, "Cherries": 1600, "Plums": 2400, "Peaches":13600, "Oranges":7}
lc_dict = {k.lower(): v for k, v in dict.items()}
print(lc_dict)

{'apples': 1500, 'cranberries': 2000, 'pears': 2500, 'cherries': 1600, 'plums': 2400, 'peaches': 13600, 'oranges': 7}

I chose to do a list comprehension because it seems more straightforward than writing out a function.